@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* .header {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
} */
