@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
/* SmallPost, BigPost 안에 있는 tag */
.tag {
  @apply text-white bg-black p-2 text-xs rounded-2xl group-hover:bg-orange-200 group-hover:text-black hover:bg-orange-200 hover:text-black;
}
.tag.active {
  @apply bg-white text-black;
}
/* 모든 버튼 일괄 적용 */
.button {
  @apply bg-orange-400 text-white font-medium hover:text-black rounded-2xl text-lg px-7 py-2;
}

.button-no-bg {
  @apply font-medium px-3 py-3 hover:opacity-50;
}

/* 모든 form 일괄 적용 */
.form {
  @apply w-full flex flex-col items-center;
}
.label {
  @apply self-start mt-5 mb-2 align-middle ml-3;
}
/* 모든 input 일괄 적용 */
.input {
  @apply border-2 grow px-6 py-3 rounded-2xl bg-transparent placeholder-opacity-50 focus:outline-none focus:ring-2 focus:ring-orange-400 focus:border-transparent;
}

.input-dark {
  @apply border-white text-white;
}

.input-light {
  @apply text-black;
}

.textarea {
  @apply resize-none;
}

.post-content {
  @apply border-2 border-black w-full px-6 py-3 rounded-2xl text-black bg-transparent focus:outline-none;
}

.main-container {
  @apply flex flex-col items-center max-w-3xl w-screen grow;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

@keyframes post-light {
  100% {
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
}

@keyframes post-dark {
  100% {
    border: 2px solid white;
  }
}

.post-light {
  animation: post-light 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.post-dark {
  animation: post-dark 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Custom Styles */
  /* background-color: black;
  color: white; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
